/* CSS Document 
*
*
*	descriptiooon!
*
*
* */

* {
	position: relative;
	
}
html, body {  
  	margin: 0;
  	padding: 0;
	top: 0;
	left: 0;
	font-family: Myriad Pro, Arial, Helvetica, Tahoma, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-align: justify;
	
	color: #9a734f;
	
	background-color: #0a181b;
	background-image: url("../images/body_background2.jpg");
	background-attachment: fixed;
	background-position: top center;
	background-repeat: repeat-x;
	overflow-x: hidden;
}
h1, h2 {
	margin: 0;
	padding: 0;
	font-style: italic;
	font-weight: bold;
}
h1 { color: #ffca28; }
h2 { color: #dc8a3a; text-align: right; }
h3 { color: #a26e3b; }
img { border: none;}
#layout {
	width: 980px;
	margin: auto;
}

.center { margin: auto; }

.header {
	z-index: 1;
	width: 980px;
	margin: auto;
	margin-top: -180px;
}

.header_top {
	height: 190px;
	width: 100%;
	background-image: url("../images/navigation_bar_top.png");
	background-repeat: no-repeat;
}

.header_bottom {
	height: 75px;
	width: 100%;
	margin-bottom: -45px;
	background-image: url("../images/navigation_bar_bottom.png");
	background-repeat: no-repeat;
}

.main_navigation {
	height: 66px;
	width: 880px;
	margin: -10px auto;
	background-image: url("../images/navigation_bar.png");
	background-repeat: no-repeat;
}
.main_menu {
	padding: 15px 45px;
	height: 36px;
	text-align: center;
}
a.navigation_element:LINK, a.navigation_element:ACTIVE, a.navigation_element:VISITED {
	width: 155px;
	float: left;
	text-decoration: none;
}
a.navigation_element:HOVER {
	width: 155px;
	float: left;
	color: #ffca28;
	text-decoration: none;
}
.navigation_text1 {
	width: 155px;
	float: left;
	font-size: 16px;
	color: #dc8a3a;
}
.navigation_text2 {
	width: 155px;
	float: left;
	font-size: 11px;
}
.logo {
	margin: auto;
	width: 540px;
	height: 300px;
	cursor: pointer;
	background-image: url("../images/d3_logo.png");
	background-repeat: no-repeat;
	z-index: 2;
}

.wrapper {
	width: 920px;
	min-height: 400px;
	margin-top: -45px;
	margin: auto;
	background-image: url("../images/body_frame.png");
	background-repeat: repeat-y;
	background-position: center;
	background-color: #000000;
}
.wrapper_bottom {
	width: 920px;
	height: 43px;
	margin: auto;
	background-image: url("../images/body_frame_bottom.png");
	background-repeat: no-repeat;
	background-color: #000000;
	border-radius: 8px;
}

.wrapper_appendix_left {
	position: absolute;
	width: 270px;
	height: 535px;
	left: 30px; 
	top: 400px;
	background-image: url("../images/d3renders/barbarian.png");
	background-repeat: no-repeat;
}

.wrapper_appendix_right {
	position: fixed;
	width: 250px;
	height: 100%;
	left: 1260px; 
	top: 0px;
	background-image: url("../images/d3renders/wizard.png");
	background-repeat: no-repeat;
	
	background-attachment: scroll;
	background-position: center;
	z-index: 10;
}

.content {
	width: 870px;
	height: 100%;
	padding: 20px 10px;
	margin: auto;
}

.content_text {
	width: 600px;
	min-height: 500px;
	padding: 20 40px;
	overflow: hidden;
	float: left;
}

.content_subnav {
	float: left;
	width: 300px;
	background-image: url("../images/navigation_bck5.png");
	margin-left: 15px;
	height: 490px;
}
div.leftMenu { padding-top: 45px; }
div.leftMenu h1 { text-align: center; }
div.leftMenu ul { list-style-image: none; list-style-type: none; padding: 20px 25px; }
div.leftMenu ul li a {
 	background: url("../images/v.png") no-repeat scroll 0 0 transparent;
    color: #9A734F;
    display: block;
    font-size: 13px;
    height: 25px;
    line-height: 25px;
    margin: 5px 0;
    padding-left: 25px;
    text-decoration: none;
    width: 170px;
    font-weight: bold;
}
div.leftMenu ul li a:HOVER { background-position: 0 bottom; color: #DC8A3A; }
div.leftMenu ul li:HOVER { margin-left: 10px; }

/* remove below!! */
.right_panel_subnav_empty {
	width: 1px;
	height: 1px;
}
.right_panel_subnav_menu {
	margin-right: 20px;
	width: 200px;
	height: 100%;
	color: #DC8A3A;
	font-size: 19px;
	font-weight: bold;
}
.right_menu_elem {
	font-size: 12px;
	float: left;
	width: 200px;
	padding: 5px 0px;
	border-left: 3px #000000 solid;
}
.right_menu_elem:HOVER {
	font-size: 12px;
	float: left;
	width: 200px;
	padding: 5px 5px;
	background-color: #000000;
	border-left: 3px #DC8A3A solid;
}
.right_menu_link {
	text-decoration: none;
}
.right_panel_text {
	height: 100%;
	padding: 60px;
}

.clear {
	height: 1px;
	clear:both;
}

.panel {
	width: 100%;
	background-color: #222255;
	float: left;
}

.panel_adversite {
	width: 290px;
	height: 290px;
	background-image: url("../images/adversite.png");
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	z-index: 2;
}

.panel_adversite_google {
	width: 728px;
	height: 90px;
	margin: auto;
}

.panel_box {
	width: 290px;
	height: 290px;
	float: left;
	z-index: 2;
}

.panel_box_image1 { background-image: url("../images/as1.png"); background-repeat: no-repeat; background-position: center; }
.panel_box_image2 { background-image: url("../images/as2.png"); background-repeat: no-repeat; background-position: center; }
.panel_box_image3 { background-image: url("../images/as3.png"); background-repeat: no-repeat; background-position: center; }

.panel_box_text { width: 150px; position: absolute; left: 70px; bottom: 70px; cursor: pointer; }
h1 { color: #ffca28; }
h2 { color: #dc8a3a; text-align: right; }
h3 { color: #a26e3b; }
a.panel_navigation_element:LINK, a.panel_navigation_element:ACTIVE, a.panel_navigation_element:VISITED {
	width: 155px;
	float: left;
	font-weight: bold;
	text-decoration: none;
}
a.panel_navigation_element:HOVER {
	width: 155px;
	float: left;
	color: #ffca28;
	font-weight: bold;
	text-decoration: none;
}
.panel_navigation_text1 {
	width: 155px;
	float: left;
	font-size: 18px;
	color: #ffca28;
}
.panel_navigation_text2 {
	width: 155px;
	float: left;
	font-size: 13px;
}
.panel_frame {
	width: 290px;
	height: 290px;
	background-image: url("../images/panel_frame.png");
	background-repeat: no-repeat;
	z-index: 1;
}
.button {
	background-image: url("../images/short_button.png");
	background-position: center;
	background-repeat: no-repeat;	
	float: right;
}

.button_link {
	padding: 5px 30px;
	height: 60px;
	margin:auto;
	line-height: 60px;
	font-weight: bold;
	font-size: small;
}

.footer {
    background-image: url("../images/footer_bck.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    clear: both;
    margin: 50px auto 0 auto;
    font-size: 11px;
    height: 200px;
    width: 919px;
    border-radius: 8px;
}


a:link, a:active, a:visited {
	color: inherit;
	text-decoration: none;
	font-weight: normal;
}
	
a:hover {
	color: inherit;
	text-decoration: underline;
	font-weight: normal;
}

.lesserContent {
	float: left;
	margin-left: 45px;
	margin-top: 15px;
}
#recent {
	width: 500px;
	float: left;
}
.recentNews {
	float: right;
	font-style: italic;
	font-size: small;
	width: 435px;
	height: 35px;
	background-image: url("../images/wide_button.png");
	background-position: center;
	background-repeat: no-repeat;
	color: #dc8a3a;
	padding: 4px;
	text-indent: 10px;
	line-height: 33px;
}

#last {
	width: 500px;
	min-height: 100px;
	float: left;
	margin-bottom: 10px;
}

.lastThumbnail {
	width: 128px;
	height: 128px;
	float: left;
}
.lastTitle {
	font-size: 17px;
	font-weight: bold;
	text-align: left;
	color: #FFCA28;
}
.lastContent {
	width: 350px;
	min-height: 64px;
	float: left;
	padding: 7px;
	font-size: 13px;
}

ul {
	list-style-image: url("../images/point.png");
}