<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Salvage Internet Armageddon - the game{% endblock %}</title>
		{% block stylesheets %}{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body>
		<h1>Salvage Internet Armageddon</h1>
		{% if app.session.hasFlash('notice') %}
			<div class="flash-notice">{{ app.session.flash('notice') }}</div>
		{% endif %}

		{% if menu is not defined %}
			{% set menu = '' %}
		{% endif %}
		<aside>
			<nav>
				<ul>
					<li><a href="{{ path('users') }}" {% if menu == 'users' %}class="selected"{% endif %}>Użytkownicy</a></li>
				</ul>
			</nav>
		</aside>
		<div class="body">
			{% block body %}{% endblock %}
		</div>
		{% block javascripts %}{% endblock %}
	</body>
</html>
