<span>{{ form_label(deleteform.confirmation) }} {{ form_widget(deleteform.confirmation, {'attr': {'class': 'confirmation'}}) }}</span>
{{ form_rest(deleteform) }}
<input class="btn btn-mini btn-error" type="submit" value="Usuń" />
