{% extends "DbBundle::base.html.twig" %}

{% block body %}
	<h2>{{ title }}</h2>
	<form method="post">
		{{ form_rest(form) }}
		<input class="btn btn-success" type="submit" value="Zapisz" />
	</form>
{% endblock %}